html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  margin: 0;
  padding: 0;
}

.wrapper{

}

#leiga{

}

#nyleg{

}

#kennslu{

}

#skemmtileg{

}
